* {
    padding: 0px;
    margin: 0px; 
}
@font-face{
    font-family: 'baron';
    src: url(./font/baron/Baron\ Neue.otf) format('opentype'); /*exportando fonte*/
}
a{        
    font-family: baron;
    text-decoration: none; 
    opacity: 0.7;
    transition: 1s;
}
a:hover{
    opacity: 1.0;
}
.logo{
    display: flex;
    font-size: 40px;  
    letter-spacing: 4px;
    color: whitesmoke;
    margin-top: -10px; 
    transition: 1s;   
}
.logo:hover{
    font-size: 42px;  
}
.icon{
    width:50px;
    height: 50px;
    padding-top: 10px;
    transition: 1s;
}
.icon:hover{
    width:55px;
    height: 55px;
}
nav{
    display: flex;
    justify-content: center;    
    background-color: #2d336b;
    align-items: center;
    height: 6vh;
}
main {
    background: url(./imgs/rogerio.jpeg);
    background-size: cover;
    height: 100vh;
}
.container-1{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    align-items: end;
}
.container-invisivel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    height: 350px;
    width: 350px;
    gap: 50px;
    transition: 1s;
    margin-top: 170px;
    margin-right: 400px;    
}
button{
    border: none;
    background-color: transparent;
    border-width: 10px;
    border: 3.5px solid black;
    border-radius: 7px;
    padding: 10px;
    font-size: 30px;
}
button a{
    color: whitesmoke;
}
button a:hover{
    font-size: 105%;
}
.label-cd{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.container-invisivel:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1000px){
  .container-invisivel{
    margin-right: 50px;
    height: 250px;
    width: 250px;
  }
  button{
    font-size: 25px;
    border: 2.5px solid black;
    margin-bottom: 20px;
  }
  .label-cd{
    font-size: 20px;
  }
}